@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  :root {
    --vh: 100%;
  }
} */

.bottom-tab {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .bottom-tab {
    display: none; /* Hide on larger screens if necessary */
  }
}
